* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../assets/background.png);
  background-repeat:repeat;
}

a {
  text-decoration: none;
  display:block;
  outline:none;
  color:black;
}

.player {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -240px;
  margin-left: -150px;
  width: 300px;
  height: 480px;
  background-color: #86C166;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0px 0px 5px #000000;
  -webkit-box-shadow: 0px 0px 5px #000000;
  box-shadow: 0px 0px 5px #000000;
}

.playlist {
  position: absolute;
  width: 300px;
  height: 300px;
  top:0;
  left:0;
  background-color: #86C166;
  z-index: 100;
  overflow:auto;
}

.playlist .inner{
  padding: 20px;
}
.playlist li {
  list-style: none;
  border-bottom: 1px solid;
  margin:10px 0;
  height: 30px;
}

.cover {
  position: absolute;
  width: 300px;
  height: 300px;
  top:0;
  left:0;
  background-color: #554236;
}

.cover .inner {
  overflow: hidden;
  height:100%;
  width:100%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

#cover {
  height:100%;
  width: 100%;
}

.active {
  -webkit-animation: play 12s linear infinite;
  -moz-animation: play 12s linear infinite;
  animation: play 12s linear infinite;
}
@-webkit-keyframes play{
    0%{-webkit-transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
@-moz-keyframes play {
    0%{-moz-transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
@keyframes play{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

.paused {
  animation-play-state:paused;
  -webkit-animation-play-state:paused;
  -moz-animation-play-state:paused;
}

.info {
  position: absolute;
  width: 100%;
  height:60px;
  top: 300px;
  left: 0px;
}

.info .inner {
  padding: 5px 10px;
  border-top: 1px solid;
}

.info p {
  text-align: center;
  height:50%;
  overflow: hidden;
  line-height: 24px;
}

.progressBar {
  position: absolute;
  width: 100%;
  height: 30px;
  top:360px;
  left:0;
  padding: auto;
  text-align: center;
}

.progressBar .inner{
  border-top: 1px solid;
  border-bottom: 1px solid;
  display: flex;
  overflow: hidden;
  height:100%;
}

#progress {
  width: 210px;
  height: 4px;
  margin: auto;
  border: 1px solid #0064B4;
  background-color:#e6e6e6;
  color: #0064B4;
  cursor: pointer;
}

#time{
  font-size: 10px;
  float: left;
  margin: auto;
}
#duration {
  font-size: 10px;
  float: right;
  margin: auto;
}
  .controlBar {
  width: 100%;
  height:50px;
  top:390px;
  left:0;
  position: absolute;
  overflow: hidden;
}
.cb_play .inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content:space-around;
}


.cb_volume .inner{
  width: 100%;
  height: 100%;
  display: flex;
}

#btnVolume,
#btnPrevious,
#btnPlay,
#btnNext {
  margin: auto;
  display:inline-block;
  cursor: pointer;
}

.btn:hover i {
  -webkit-transform:scale(1.2);
  -moz-transform:scale(1.2);
  transform: scale(1.2);
  color:#444444;
  transition: 0.2s;
  -moz-transition:0.2s;
  -webkit-transition: 0.2s;
}
meter {
  height:4px;
  margin:auto;
  cursor: pointer;
}

.lyrics {
  position: absolute;
  width: 100%;
  height: 40px;
  top:440px;
  left: 0;
}

.lyrics .inner {
  border-top:1px solid;
  text-align: center;
  line-height: 40px;
}
.cb_play {
  width:180px;
  height:50px;
  float: left;
}

.cb_volume {
  width: 120px;
  height: 50px;
  float: right;
}

.playing {
  color:white;
}
